@import "tailwindcss";
body,
html{
  width: 100%;
  min-height: 100%;
  background-color: #111;
  
}
@font-face{
  font-family: syne;
  src : url(./assets/Syne-VariableFont_wght.ttf);
}
@font-face {
  font-family: anzo;
  src: url(./assets/file.woff2);
}
#section2{
  position: relative;
  perspective: 800px;
}
#main{
  overflow-x: clip;
}
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.animate-scroll {
  animation: scroll 12s linear infinite;
}